.sidenav {
  width: 200px;

  background-color: #3F51B5;
}

.sidenav a {
  color: #FFFFFF;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #FFF;
}

.nav-list a {
  text-decoration: none;
}