.sidenav {
  width: 200px;

  background-color: #3F51B5;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  color: #FFFFFF;
  
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  
  text-decoration: none;
}

.anchor:target {
  background-color: '#0c2396';
  transition: background-color 0.5s ease-in-out;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #FFF;
}